*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}

#topBlock, #bottomBlock {
    height: 300px;
    background-color: lightgrey;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

#area{
    display: block;
    width: 98%;
    height: 200px;
    margin: 0 auto 10px;
    resize: none;
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.violet{
    background-color: violet;
}

.black{
    background-color: black;
}

.grey{
    background-color: grey;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}


























